.bottom{
    height: 8.43rem;
    padding: 0 2.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .complemento{
        .cheked{
            display: flex;
            margin-bottom: 7px;
            img{
                align-self: center;
                margin-right: 0.93rem;

            }
            span{
                font-size: 14px;
            }
        }
        
    }

    .botao{
        button{
            height: 2.56rem;
            width: 10.62rem;
            border-radius: 1.5rem;
            border: none;

            cursor: pointer;

            background: $Dark_Desaturated_Blue;
            color: $Pale;
        }
        button:hover{
            width: 10rem;
            height: 2.37rem;
        }
    }
}