.bottom{
    height: 135px;
    padding: 0 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .complemento{
        .cheked{
            display: flex;
            margin-bottom: 7px;
            img{
                align-self: center;
                margin-right: 15px;

            }
            span{
                font-size: 14px;
            }
        }
        
    }

    .botao{
        button{
            height: 41px;
            width: 170px;
            border-radius: 1.5rem;
            border: none;

            cursor: pointer;

            background: $Dark_Desaturated_Blue;
            color: $Pale;
        }
    }
}