.infoprice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5rem;

    .preco{
        display: flex;
        align-items: center;

        h2{
            color: $Dark_Desaturated_Blue;
            font-size: 2.31rem;

            font-weight: 800;
        }
        p{
            margin-left: 10px;
        }
    }
}