* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: #fafbff;
  font-family: 'Manrope', sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container {
  height: 24.8rem;
  width: 33.68rem;
  background-color: white;
  border-radius: 10px;
  color: #858fad;
  -webkit-box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.1);
}

main .container .top {
  height: 16.37rem;
  border-bottom: 1px #eaeefb solid;
  padding: 0 2.75rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15.62rem;
}

header img {
  position: absolute;
  z-index: -1;
}

header h1 {
  color: #293356;
}

header span {
  margin-top: 17px;
  color: #858fad;
}

.infoprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5rem;
}

.infoprice .preco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoprice .preco h2 {
  color: #293356;
  font-size: 2.31rem;
  font-weight: 800;
}

.infoprice .preco p {
  margin-left: 10px;
}

.linha {
  height: 8px;
  width: 100%;
  background-color: #eaeefb;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.linha .ativa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #a5f3eb;
  height: 8px;
  border-radius: 1rem;
  width: 50%;
}

.linha .ativa img {
  position: absolute;
  right: 47%;
  background: #10d5c2;
  border-radius: 99999rem;
  padding: 15px 11px;
  -webkit-box-shadow: 0 15px 20px 7px #a5f3eb;
          box-shadow: 0 15px 20px 7px #a5f3eb;
}

.planos {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

.planos .mes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.planos .mes span {
  margin-right: 17px;
}

.planos .ano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
}

.planos .ano h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff8c66;
  background: #feece7;
  height: 20px;
  width: 5rem;
  border-radius: 1.5rem;
  margin-left: 10px;
}

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch--flat + label {
  padding: 2px;
  width: 2.62rem;
  height: 1.37rem;
  background-color: #dddddd;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.switch--flat + label:hover,
.switch--flat + label:hover::before {
  background-color: #a5f3eb;
}

.switch--flat + label:before,
.switch--flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

.switch--flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #dddddd;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  transition: background 0.4s;
}

.switch--flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 15px;
  background-color: white;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

.switch--flat:checked + label:before {
  background-color: #dddddd;
}

.switch--flat:checked + label:after {
  margin-left: 20px;
  background-color: white;
}

.bottom {
  height: 8.43rem;
  padding: 0 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom .complemento .cheked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7px;
}

.bottom .complemento .cheked img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.93rem;
}

.bottom .complemento .cheked span {
  font-size: 14px;
}

.bottom .botao button {
  height: 2.56rem;
  width: 10.62rem;
  border-radius: 1.5rem;
  border: none;
  cursor: pointer;
  background: #293356;
  color: #bdccff;
}

.bottom .botao button:hover {
  width: 10rem;
  height: 2.37rem;
}

.attribution {
  margin-top: 3.12rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #10d5c2;
}

@media (max-width: 700px) {
  main .container {
    height: 33.75rem;
    width: 400px;
  }
  main .container .top {
    height: 21.62rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.6rem;
  }
  .infoprice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infoprice .preco {
    margin-top: 120px;
  }
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 12.2rem;
  }
  .bottom .botao {
    margin-top: 20px;
  }
  .linha {
    margin-top: -40px;
  }
  .planos {
    margin-top: 140px;
  }
  .planos span {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */