$soft_Cyan: hsl(174, 77%, 80%);
$Strong_Cyan: hsl(174, 86%, 45%);
$Light_Grayish_red: hsl(14, 92%, 95%);
$Light_red: hsl(15, 100%, 70%);
$Pale: hsl(226, 100%, 87%);

$White: hsl(0, 0%, 100%);
$Very_Pale: hsl(230, 100%, 99%);
$Light_Grayish: hsl(224, 65%, 95%);
$Light_Grayish_Blue: hsl(223, 50%, 87%);
$Grayish_Blue: hsl(225, 20%, 60%);
$Dark_Desaturated_Blue: hsl(227, 35%, 25%);

@import 'header';
@import 'infoprice';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-color: $Very_Pale;
    font-family: 'Manrope', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        height: 397px;
        width: 539px;

        padding: 0 44px;

        background-color: $White;
        border-radius: 10px;
        color: $Grayish_Blue;
    }
}
.top{
    height: 262px;
    border-bottom: 1px $Light_Grayish solid ;
    
}
.linha{
    height: 8px;
    width: 100%;

    background-color: $Light_Grayish;
    border-radius: 1rem;

    .ativa{
        display: inline;
        img{
            background: $Strong_Cyan;
            height: 40px;
            width: 40px;
            border-radius: 40rem;
            padding: 10px;
        }
    }
}
.planos{
    margin-top: 40px;
    display: flex;
    .ano{
        display: flex;

        h6{
            display: flex;
            align-items: center;
            justify-content: center;
            color: $Light_red;
            background: $Light_Grayish_red;
            height: 20px;
            width: 80px;
            border-radius: 1.5rem;
        }
    }
}
.bottom{
    height: 135px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .complemento{
        .cheked{
            display: flex;
            margin-bottom: 7px;
            img{
                align-self: center;
                margin-right: 15px;

            }
            span{
                font-size: 14px;
            }
        }
        
    }

    .botao{
        button{
            height: 41px;
            width: 170px;
            border-radius: 1.5rem;
            border: none;

            cursor: pointer;

            background: $Dark_Desaturated_Blue;
            color: $Pale;
        }
    }
}